@model NET104_ASM.Models.LoaiSanPham

@{
    ViewData["Title"] = "SuaLoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaLoaiSanPham</h1>

<h4>LoaiSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaLoaiSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaLoaiSp" />
            <div class="form-group">
                <label asp-for="TenLoaiSp" class="control-label"></label>
                <input asp-for="TenLoaiSp" class="form-control" />
                <span asp-validation-for="TenLoaiSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DsLoaiSanPham">Back to List</a>
</div>

