.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Đảo ngược màu của icon chuyển đổi */
}

    /* Đổi màu chữ và icon của nút chuyển đổi */
    .carousel-control-prev-icon::before,
    .carousel-control-next-icon::before {
        color: #fff; /* Màu trắng */
    }
input[type="checkbox"]:checked + .checkbox-label {
    color: red;
}


.checkbox-label {
    margin-left: 4px; /* Khoảng cách giữa checkbox và label */
}
.product-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 250px; /* Độ rộng của khung sản phẩm */
    display: inline-block;
    margin: 10px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
}

.product-name {
    font-size: 18px;
    margin: 0;
}

.product-price {
    font-size: 16px;
    color: #888;
}

.btn-buy {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 100%;
}

    .btn-buy:hover {
        background-color: #0056b3;
    }

.product-container {
    border-radius: 5px;
    margin-top: 15px;
    margin-left:0px;
    font-weight: bold;
    border-radius: 10px; /* Rounded corners for the container */
    padding: 10px; /* Spacing inside the container */
    margin-bottom: 20px; /* Spacing between products */
   background-color: #fff;

   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
    .product-container:hover {
        box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.3), /* Bóng bên phải dưới */
        -5px 5px 5px rgba(0, 0, 0, 0.3), /* Bóng bên trái dưới */
        5px -5px 5px rgba(0, 0, 0, 0.3), /* Bóng bên phải trên */
        -5px -5px 5px rgba(0, 0, 0, 0.3); /* Bóng bên trái trên */
    }


    .product-price {
       color:red;
    }
.btn-buy {
    font-weight: bold; /* Bold text */
    border: 1px solid red; /* Red border */
    background-color: red; /* Màu nền đỏ */
    color: white; /* Màu chữ trắng */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Border radius */
}
    .btn-buy:hover {
        background-color: darkred; /* Màu nền đỏ tối khi hover */
        color: white; /* Màu chữ trắng */
        font-size: 18px; /* Kích thước chữ lớn hơn khi hover */
    }
.cdt-product__config__param {
    color: gray; /* Change text color to gray */
}

    .cdt-product__config__param span {
        font-size: 14px; /* Change font size of text within span elements */
        margin-right:10px;
    }
.image-container {
    overflow: hidden; /* Ẩn phần ngoài của hình ảnh */
    transition: transform 0.3s; /* Hiệu ứng chuyển đổi */
}

    .image-container:hover img {
        transform: scale(1.2); /* Phóng to hình ảnh khi di chuột qua */
    }

