@{
    ViewData["Title"] = "LoginAdmin";
    Layout = null;
}
@model Admin;
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../LayoutAdmin/assets/css/style.css">
   
</head>
<style>
    .login-form {
        max-width: 400px;
        margin: auto; /* Để căn giữa form */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-5 m-auto">
            <div class="login-form">
                <h1 class="text-center mb-3">Đăng Nhập Admin</h1>
                @using (Html.BeginForm("LoginAdmin", "DnAdmin", FormMethod.Post))
                {
                    <!-- Email -->
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text bi bi-person"></span>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Nhập email của bạn", required = "required", autofocus = "autofocus" })
                        </div>
                    </div>
                    <!-- Mật khẩu -->
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text bi bi-lock"></span>
                            <input type="password" asp-for="MatKhau" class="form-control" placeholder="Nhập mật khẩu của bạn" required />
                        </div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-success" >Đăng Nhập</button>
                       
                    </div>
                  
                    <h3>@ViewBag.LoginFail</h3>
                }
            </div>
        </div>
    </div>
</div>
